body{
    background-repeat: no-repeat;
}
.mainContainer{
    width: 100%;
    height: 567px;
    background: linear-gradient(to bottom, #000000 -10%, #82001e 100%);
}
#navbar a{
    color: aliceblue;
    font-size: 20px;
    font-weight:bolder;
    letter-spacing:2px;
}
[class*="col-"] img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left:12%;
}
[class*="col-"]{
    text-align: center;
}
[class*="col-"] div.card{
    width:200px; 
    height: 200px;
}