body{
    margin:0px;
}
.mainContainer{
    width: 100%;
    height: 666px;
    background: linear-gradient(to bottom, #000000 -10%, #16794b 100%);
}
#navbar{
    margin-bottom: 10px;
}
#navbar .active{
    border-bottom:2px solid #54ff88;
}
#navbar a{
    margin-top: 10px;
    color: aliceblue;
    font-size: 20px;
    font-weight:bolder;
    letter-spacing:2px;
}
.profile{
    position:absolute;
    left:0px;
}
.profile button{
    color:white;
    background-color:#22c153;
    height:40px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px
}
.search input{
    text-align:right;
    font-size:20px;
    position:absolute;
    background-color:rgba(0,0,0,0);
    color:white;
    border:none;
    border-bottom:2px solid #54ff88;
    right:0px;
    top:23px;
    width:200px;
}